<div class="">
   <span class="border border-white" *ngFor="let tab of tabBarList; let i = index">
      <button type="button" class="btn btn-dark rounded-0" (click)="pageClick(tab)">
         {{tab}}
      </button>
      <button type="button" class="btn btn-dark rounded-0" (click)="deleteTab(i)"><i class="bi bi-x-lg"></i></button>
      <button type="button" class="btn btn-dark rounded-0" (click)="save()"><i class="bi bi-plus-lg"></i></button>
   </span>
</div>

<!-- <h5>Data Recieved : {{dataRecieved}}</h5> -->