<!-- <div id="product-details"></div> -->

<!-- <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Row ID</th>
      <th scope="col">Page Name</th>
      <th scope="col">Page Type</th>
      <th scope="col">Page Edition</th>
      <th scope="col">Page Owner</th>
      <th scope="col">Page URL</th>
      <th scope="col">Page SEO</th>
      <th scope="col">Page Status</th>
      <th scope="col">Page Comment </th>
      <th scope="col">Row Type</th>
      <th scope="col">Row Status</th>
      <th scope="col">Page ID</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let page of pageList; let i = index">
      <td>{{page['Row ID']}}</td>
      <td>{{page['Page Name']}}</td>
      <td>{{page['Page Type']}}</td>
      <td>{{page['Page Edition']}}</td>
      <td>{{page['Page Owner']}}</td>
      <td>{{page['Page URL']}}</td>
      <td>{{page['Page SEO']}}</td>
      <td>{{page['Page Status']}}</td>
      <td>{{page['Page Comment ']}}</td>
      <td>{{page['Row Type']}}</td>
      <td>{{page['Row Status']}}</td>
      <td>{{page['Page ID']}}</td>
    </tr>
  </tbody>
</table> -->