<form [formGroup]="loginForm">
   <div class="alert alert-danger" role="alert" *ngIf="userNotRegistered">
      Please register first!!!
   </div>
   <div class="alert alert-success" role="alert" *ngIf="userRegistered">
      Login successful!!!
   </div>
   <div class="mb-3">
      <label for="id2" class="form-label">Email address</label>
      <input type="text" class="form-control" id="id2" formControlName="email">
   </div>
   <div class="mb-3">
      <label for="id3" class="form-label">Password</label>
      <input type="text" class="form-control" id="id3" formControlName="password">
   </div>
   <div class="d-grid gap-2">
      <button class="btn btn-primary" type="button" (click)="login()">LOGIN</button>
   </div>
</form>


<body>
  <div class="container-fluid col-xxl-8 px-4 py-5">
    <div class="social-buttons"> 
      <button class="facebook"> 
          <i class="fab fa-facebook-f"></i>
          <a href="https://facebook.com/">Login with Facebook</a> 
           
      </button> 
      <button class="twitter"> 
          <i class="fab fa-twitter">
            <a href="https://twitter.com/">Login with Twitter</a>
          </i> 
           
      </button> 
      <button class="google"> 
         <i class="fab fa-twitter">
           <a href="https://gmail.com/">Login with Google</a>
         </i> 
         
     </button> 
     <button class="instagram"> 
      <i class="fab fa-instagram">
        <a href="https://instagram.com/">Login with Instagram</a>
      </i> 
      
  </button> 
  </div> 
  </div>

 
</body>