/* .main-width{
   margin-left: 2.5%;
   margin-right: 2.5%;
} */

span {
   display: inline-block;
   border: 1px solid black;
   padding-left: 2px;
   padding-right: 2px;
   cursor: pointer;
   border-radius: 3px;
}

li.disabled {
   cursor: not-allowed;
   opacity: .7;
}

.cursor{
   cursor: pointer;
}

/* RESPONSIVE MENU BAR */

.responsive {
   display: flex;
   flex-wrap: nowrap; /* Prevent wrapping of columns */
   overflow-x: auto; /* Enable horizontal scrolling */
}
.column {
   flex: 0 0 auto; /* Columns do not shrink or grow */
   padding-top: 12px;
   padding-bottom: 12px;
   padding-left: 9px;
   padding-right: 9px;
   white-space: nowrap; /* Prevent text wrapping */
}

/* RESPONSIVE MENU BAR */