/* .main-width{
   margin-left: 2.5%;
   margin-right: 2.5%;
} */

span {
   border: 1px solid black;
   padding-left: 2px;
   padding-right: 2px;
   cursor: pointer;
   border-radius: 3px;
}

li.disabled {
   cursor: not-allowed;
   opacity: .7;
}